; vim: set filetype=dosini:
; vim-jsbeautify config
; .editorconfig

root = true

[**.js]
space_after_anon_function = true
max_preserve_newlines = 2
end_with_newline = false
indent_size = 4
indent_style =  space
indent_level = 0
indent_with_tabs = false
preserve_newlines = true
space_in_paren = false
jslint_happy = false
brace_style = collapse
break_chained_methods = false
keep_array_indentation = false
keep_function_indentation = false
space_before_conditional = true
eval_code = false
unescape_strings = false
wrap_line_length = 0
end_with_comma = false


[**.json]
indent_style = space
indent_size = 2

[**.jsx]
e4x = true
indent_style = space
indent_size = 4

[**.css]
indent_style = space
indent_size = 4

[**.html]
indent_style = space
indent_size = 4
brace_style = expand
indent_scripts = normal
preserve_newlines = true
max_preserve_newlines = 1
unformatted = ["a", "sub", "sup", "b", "i", "u"]
wrap_line_length = 0
